{% extends "::base_admin.html.twig" %}

{% block page_content %}
    <a href="{{ path('update_all') }}" class="btn btn-primary" id="add_all">Mettre à Jour toute la liste</a>
    <table class="table table-responsive table-bordered" id="recup_table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Derniere Edition</th>
            <th>Date Parution</th>
            <th>Lien Vers La Fiche</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for key, item in liste %}
            {% for element in item %}
                <tr>
                    <td>{{ element.titre }} | {% if element.type == 'Serie' %}Saison {{ element.saison }}{% endif %}</td>
                    <td>{{ element.type }}</td>
                    <td>{{ element.dateEdit|date("d/m/Y") }}</td>
                    {% if element.date_parution is defined %}
                        <td>{{ element.date_parution|date("d/m/Y") }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{{ element.fiche }}" target="_blank">Vers la fiche</a></td>
                    <td>
                        <a href="{{ path('update_single',{'type':key,'id':element.stringID}) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function(){
            load_datatables('#recup_table');
        });
    </script>
{% endblock %}
