<button class="btn btn-primary" id="add_all">Modifier toute la liste</button>
<table class="table table-responsive table-bordered" id="update_table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date Edition</th>
            <th>Date Parution</th>
            <th>Lien Vers La Fiche</th>
        </tr>
    </thead>
    <tbody>
        {% for element in liste %}
            <tr>
                <td>{{ element.titre }}</td>
                {% if element.dateEdit is defined %}
                    <td>{{ element.dateEdit|date('d M Y') }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if element.dateParution is defined %}
                    <td>{{ element.dateParution|date('d M Y') }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><a href="{{ element.fiche }}" target="_blank">Vers la fiche</a></td>
                <td>
                    <a class="add_element" id="{{ element.stringID }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function(){
        var panel = $(".add_element");
        function recup_id() {
            var $this   = $(this);
            var cont = $this.attr('id');
            save_single(type, cont);
        }
        panel.click(recup_id);  // attach event handler
    });

    function save_single(type, id)
    {
        var DATA = "type=" + type + "&stringID=" + id;
        $.ajax({
            type: "POST",
            url: Routing.generate('update_single'),
            data: DATA,
            cache: false,
            success: function (data) {
                console.log(data);
                var btn = $("#" + id);
                btn.addClass('disabled');
            },
            error: function(data){
                console.log(data);
            }
        });
        return false;
    }
</script>
<script>
    $(function(){
        var panel = $("#add_all");
        function recup_all() {
            var date = $(".table").attr('id');
            save_all(type);
        }
        panel.click(recup_all);  // attach event handler
    });

    function save_all(type)
    {
        var DATA = "type=" + type;$.ajax({
        type: "POST",
        url: Routing.generate('update_all'),
        data: DATA,
        cache: false,
        success: function (data) {
            console.log("SUCCESS");
            console.log(data);
            var btn = $(".add_element");
            btn.addClass('disabled');
        },
        fail: function(data){
            console.log("ECHEC");
            console.log(data);
        }
    });
        return false;
    }
</script>
<script>
    $(document).ready(function(){
        load_datatables('#update_table');
    });
</script>