<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.nom, "Nom du theme", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.nom) }}
      <div class="">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.description, "Description du Theme", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.description) }}
      <div class="">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>