{% if listLivres|length != 0 %}
    <h2> {{ 'liste.livres'|trans }} </h2>
    {% for biblio in listLivres %}
        {% set element = biblio|get_item %}
        <p>
            <b>{{element.titre}}</b>,
            <i>
                {{ 'element.ecrit'|trans }}
                {{ element.auteurs|lst_pers }}
                {{ 'element.editer'|trans }}
                {{ element.editeurs|lst_editor|raw }}
            </i>
        {% if biblio.note < 0 %}
            (note : Non Noté)
        </p>
        {% else %}
            (note : {{biblio.note}}/10)
        </p>
        {% endif %}
    {% endfor %}
{% endif %}