<div>
    {% set i = 0 %}
    {% for biblio in liste %}
    {% set element = biblio|get_item %}
    {% if i == 0 %}
    <div class="row aff_elements">
        {% endif %}
        <div class="col-sm-4 bloc-index text-center">
            {% include "AxiaUserBiblioBundle:Fragments:frag_entete.html.twig" %}
            <p>{{ 'element.ecrit'|trans }}
                {{ element.auteurs|lst_pers }}
            </p>
            <p>{{ 'element.editer'|trans }}
                {{ element.editeurs|lst_editor|raw }}
            </p>
        <p class="note">{% include "AxiaUserBiblioBundle:Fragments:frag_note.html.twig" %}</p>
            <p>Status : {{ element|getStatus }}</p>
        {% include "AxiaUserBiblioBundle:Fragments:frag_tome.html.twig" %}
            <p class="LuPossede" id="{{ biblio.id }}">
                {% include "AxiaUserBiblioBundle:Fragments:frag_vu.html.twig" %}
                |
                {% include "AxiaUserBiblioBundle:Fragments:frag_possede.html.twig" %}
            </p>
            {% if element.tags is defined and element.tags is not null and element.tags is not empty %}
                <hr />
                <p>
                    {{ element.tags|lst_tags|raw }}
                </p>
            {% endif %}
            {% set i = i + 1 %}
            {% if i == 3 %}
        </div>
        {% set i = 0 %}
        {% endif %}
    </div>
    {% endfor %}
    {% if i != 0 %}
      </div>
    {% endif %}
</div>
{% if is_granted("ROLE_ADMIN") %}
    <script src="{{ asset('bundles/axiauserbiblio/modif.js') }}"></script>
{% endif %}