<div>
    {% set i = 0 %}
    {% for biblio in liste %}
        {% set element = biblio|get_item %}
        {% if i == 0 %}
            <div class="row aff_elements">
        {% endif %}
            <div class="col-sm-4 bloc-index text-center">
                {% include "AxiaUserBiblioBundle:Fragments_Animes:frag_entete.html.twig" %}
                <p>Parution : {{ element.anime.dateParution|date('d M Y') }} {{ element.anime.dateParution|getSeason|raw }}</p>
                <p>Status : {{ element|getStatusSaison }}</p>
                {% include "AxiaUserBiblioBundle:Fragments_Animes:frag_episode.html.twig" %}
                <p class="note">{% include "AxiaUserBiblioBundle:Fragments:frag_note.html.twig" %}</p>
                <p class="LuPossede" id="{{ biblio.id }}">
                    {% include "AxiaUserBiblioBundle:Fragments:frag_vu.html.twig" %}
                     |
                    {% include "AxiaUserBiblioBundle:Fragments:frag_possede.html.twig" %}
                </p>
                {% if element.anime.tags is defined and element.anime.tags is not null and element.anime.tags is not empty %}
                    <hr />
                    <p>
                        {{ element.anime.tags|lst_tags|raw }}
                    </p>
                {% endif %}
            </div>
                {% set i = i + 1 %}
                {% if i == 3 %}
                    </div>
                    {% set i = 0 %}
                {% endif %}
{% endfor %}
    {% if i != 0 %}
        </div>
    {% endif %}
</div>
{% if is_granted("ROLE_ADMIN") %}
    <script src="{{ asset('bundles/axiauserbiblio/modif.js') }}"></script>
{% endif %}